@model pim2.Models.Motorista

@{
    ViewData["Title"] = "Delete";
}
    <div class="header-views">

        <h1 class="title-font">Controle de Motoristas</h1>

        <nav class="header-nav">
            <ul class="header-nav-menu">
                <li class="header-menu-item"><a asp-action="Index" class="header-btn-portal">Voltar</a></li>
            </ul>
        </nav>
    </div>
<div class="container">
    <h4 style="text-align:center;">Deseja realmente excluir esse motorista?</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CPF)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CPF)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CNH)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CNH)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Categoria_Cnh)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Categoria_Cnh)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dt_Nascimento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dt_Nascimento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Exame_medico)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Exame_medico)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.endereco)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.endereco)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.numero)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.numero)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cidade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bairro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CEP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CEP)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Deletar" class="btn btn-danger" style="margin-bottom: 20px;"/> 
    </form>
</div>
