@model pim2.Models.Peca

@{
    ViewData["Title"] = "Delete";
}

    <div class="header-views">

        <h1 class="title-font">Controle de peças</h1>

        <nav class="header-nav">
            <ul class="header-nav-menu">
                <li class="header-menu-item"><a asp-action="Index" class="header-btn-portal">Voltar</a></li>
                <li class="header-menu-item"><a asp-action="Create" class="header-btn-portal">Cadastrar peça +</a></li>
            </ul>
        </nav>
    </div>
<div class="container">
    <h4 style="text-align:center;">Você tem certeza que deseja deletar essa peça?</h4>
    <hr/>
    <dl class="dl-horizontal col-md-12">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Prateleira)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prateleira)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EstoqueMinimo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EstoqueMinimo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" style="margin-bottom: 20px;" />
    </form>
</div>
