@model IEnumerable<pim2.Models.Empresa>

@{
    ViewData["Title"] = "Index";
}

<link href="~/css/style.css" rel="stylesheet" />
<!-- HEADER -->
<div class="header">

    <h1 class="title-font">Controle de peças</h1>

    <nav class="header-nav">
        <ul class="header-nav-menu">
            <li class="header-menu-item"><a asp-action="Home" class="header-btn-portal">Inicio</a></li>
            <li class="header-menu-item"><a asp-action="Create" class="header-btn-portal">Cadastrar peça +</a></li>
        </ul>
    </nav>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CNPJ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.endereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bairro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CNPJ)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.telefone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.endereco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.numero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.bairro)
                </td>
            </tr>
        }
    </tbody>
</table>
